<script type="text/javascript">

    function LeggTilProsjekt() {
        var prosjekt = {
            Arbeidsplass: $('#NavnTxt').val()
        };
     
        $.ajax({
            url: '/api/ProsjektApi/',
            type: 'POST',
            data: JSON.stringify(prosjekt),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                alert('Godkjent!');

            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }



    function SlettProsjekt() {
            var p = {
                Id: $('#selectProsjekt').val()
            };
           $.ajax({
                url: '/api/ProsjektApi/' + p.Id,
                type: 'DELETE',
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    alert("Ok");
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            }); 
    }



    function EndreProsjekt() {
        var p = {
            Id: $('#selectProsjekt').val(),

            Arbeidsplass: $('#Endretxt').val()
        };
        $.ajax({
            url: '/api/ProsjektApi/' + p.Id + p.Arbeidsplass,
            type: 'PUT',
            contentType: "application/json;charset=utf-8",
            
            success: function (data) {
                alert("Ok");
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
 }
    
    
    

</script>
@{
    ViewBag.Title = "Index";
}
<br />
<p>Opprett jobb</p>
<div class='col-sm-3'>
    <input class="form-control" type="text" id="NavnTxt" />
</div>
<button onclick="LeggTilProsjekt()" class="btn btn-success">Opprett</button>
<br />
<br />
@Html.ActionLink("Administrer ansatte", "LeggTilBruker", "Prosjekt")
<br />
<br />

<p>Dine jobber</p>
<div class='col-sm-3'>
    <select class="form-control" id="selectProsjekt">
        @{Html.RenderAction("prosjektMeny", "Prosjekt");}
    </select>
</div>

<button onclick="SlettProsjekt()" class="btn btn-danger">Slett Prosjekt</button>

 <input type="text" id="Endretxt"/> <br>
  
 <button onclick="EndreProsjekt()" class="btn btn-info" >Endre Prosjekt</button>
