<script type="text/javascript">

    function LeggTilProsjekt() {
        var prosjekt = {
            Arbeidsplass: $('#NavnTxt').val()
        };
     
        $.ajax({
            url: '/api/ProsjektApi/',
            type: 'POST',
            data: JSON.stringify(prosjekt),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                alert('Godkjent!');

            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }



    function SlettProsjekt() {
            var p = {
                Id: $('#selectProsjekt').val()
            };
           $.ajax({
                url: '/api/ProsjektApi/' + p.Id,
                type: 'DELETE',
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    alert("Ok");
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            }); 
    }

    function EndreProsjekt() {
            var EndreProsjekt= {
            ProsjektId: $('#selectProsjekt').val(),
            Arbeidsplass: $('#Endretxt').val()
        };
            $.ajax({
                url: '/api/ProsjektApi',
                type: 'PUT',
                data: JSON.stringify(EndreProsjekt),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    alert('Godkjent!');
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
    };
    function VisKnapper() {
       
        var text = $("#vaktEndring");
        var text2 = $("#visKnapp")
        if (text.is(':hidden')) {
            text.slideDown('500');
            text2.slideUp('500');
           
        }
        else {
            text.slideUp('500');
            text2.slideDown('500');
                  }
    };

</script>
@{
    ViewBag.Title = "Index";
}
<br />
<div class="row">
    <div class="btn-group btn-group-justified " role="group" aria-label="..." style="margin-top:40px;">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" style="height:300px;">Opprett ny jobb<br /><span class="glyphicon glyphicon-plus-sign" aria-hidden="true" style="font-size:150px;"></span></button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" style="height:300px;">Rediger jobb<br /><span class="glyphicon glyphicon-edit" aria-hidden="true" style="font-size:150px;"></span></button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" style="height:300px;">Ansatte <br /><span class="glyphicon glyphicon-user" aria-hidden="true" style="font-size:150px;"></span></button>
        </div>
    </div>
</div>

<p>Opprett jobb</p>
<div class='col-sm-3'>
    <input class="form-control" type="text" id="NavnTxt" />
</div>
<button onclick="LeggTilProsjekt()" class="btn btn-success">Opprett</button>
<br />
<br />
@Html.ActionLink("Administrer ansatte", "LeggTilBruker", "Prosjekt")
<br />
<br />

<p>Dine jobber</p>
<div class='col-sm-3'>
    <select class="form-control" id="selectProsjekt">
        @{Html.RenderAction("prosjektMeny", "Prosjekt");}
    </select>
</div>

<button id="visKnapp" onclick="VisKnapper()" class="btn btn-info">Endre jobb</button>

<button onclick="SlettProsjekt()" class="btn btn-danger">Slett jobb</button>

<div id="vaktEndring" style="display:none">
    <input type="text" id="Endretxt"  class="form-control"/>
    <button onclick="EndreProsjekt()" class="btn btn-info">Endre Prosjekt</button>
    <button onclick="VisKnapper()" class="btn btn-warning">Avbryt</button>
</div>