<script type="text/javascript">
    function LeggTilProsjekt() {
        var prosjekt = {
            Arbeidsplass: $('#NavnTxt').val()
        };     
        $.ajax({
            url: '/api/ProsjektApi/',
            type: 'POST',
            data: JSON.stringify(prosjekt),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                $('#NavnTxt').val('');
                $('#godkjentProsjekt').html("<div class='alert alert-success' role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>Gratulerer! Du har nå opprettet bedriften din. </div>");

                setTimeout("window.location.href='/Vakt/Index';", 2000);
            },
            error: function (data) {
                $('#godkjentProsjekt').html("<div class='alert alert-danger' role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>Det skjedde en feil ved opprettelsen av bedrift. Prøv igjen. </div>");
             
            }
        });
    }
    function SlettProsjekt() {
            var p = {
                Id: $('#selectProsjekt').val()
            };
            var text = $('#selectProsjekt option:selected').text();
            if (confirm('Du er i ferd med å slette '+text+'. Hvis du godtar,  vil du miste all data tilknyttet denne jobben. Hvis du ikke ønsker å slette '+text+', trykk "Avbryt".')) {
             
            
           $.ajax({
                url: '/api/ProsjektApi/' + p.Id,
                type: 'DELETE',
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    $('#slettprosjekt').html("<div class='alert alert-success' role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>Sletting av jobben var vellykket. </div>");
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
           }); 
        }
    }
    function EndreProsjekt() {
            var EndreProsjekt= {
            ProsjektId: $('#selectProsjekt').val(),
            Arbeidsplass: $('#Endretxt').val()
        };
            $.ajax({
                url: '/api/ProsjektApi',
                type: 'PUT',
                data: JSON.stringify(EndreProsjekt),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    $('#Endretxt').val('');
                    $('#endreprosjekt').html("<div class='alert alert-success' role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>Endring av navn på bedrift var vellykket. </div>");
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
    };
    function VisKnapper() {
       
        var text = $(".vaktEndring");
        var text2 = $("#visKnapp")
        var text3 = $(".slett")
        if (text.is(':hidden')) {
            text.slideDown('500');
            text2.slideUp('500');
            text3.slideUp('500');
           
        }
        else {
            text.slideUp('500');
            text2.slideDown('500');
            text3.slideDown('500');
                  }
    };
    function VisKnapperNyJobb() {

        
        var text2 = $("#NavnTxt")
        var text3 = $("#nyJobb")
        if (text2.is(':hidden') && text3.is(':hidden')) {
            text2.slideDown('500');
            text3.slideDown('500');
        }
        else {
            text2.slideUp('500');
            text3.slideUp('500');
        }
    };
    function VisKnapperEndreJobb() {
        var text2 = $("#selectProsjekt")
        var text3 = $("#visKnapp")
        var text = $(".slett")
        if (text2.is(':hidden') && text.is(':hidden') && text3.is(':hidden')) {
            text2.slideDown('500');
            text3.slideDown('500');
            text.slideDown('500');
        }
        else {
            text2.slideUp('500');
            text3.slideUp('500');
            text.slideUp('500');
        }
    };
</script>
<div id="godkjentProsjekt"></div>
<div id="slettprosjekt"></div>
<table>
    <tr>
        <td><button type="button" onclick="VisKnapperNyJobb()" class="btn btn-default menyValgProsjekt">Opprett ny jobb<br /><span class="glyphicon glyphicon-plus-sign ikonMeny" aria-hidden="true"></span></button></td>
        <td><input class="form-control" style="display:none;" type="text" id="NavnTxt" placeholder="Navn på bedrift"/></td>
        <td><button id="nyJobb" onclick="LeggTilProsjekt()" style="display:none;" class="btn btn-success">Opprett</button></td>
    </tr>
    <tr>
        <td><button type="button" onclick="VisKnapperEndreJobb()" class="btn btn-default menyValgProsjekt">Rediger jobb<br/><span class="glyphicon glyphicon-edit ikonMeny" aria-hidden="true"></span></button></td>
        <td><select class="form-control" style="display: none;" id="selectProsjekt">
                @{Html.RenderAction("prosjektMeny", "Prosjekt");}</select>
        </td>
        <td><button id="visKnapp" style="display: none;" onclick="VisKnapper()" class="btn btn-info">Endre jobb</button></td>
        <td><button onclick="SlettProsjekt()" style="display: none;" class="btn btn-danger slett">Slett jobb</button></td>
        <td class="vaktEndring" style="display: none"><input type="text" id="Endretxt" class="form-control" placeholder="Nytt navn på bedrift"/></td>
        <td class="vaktEndring" style="display: none"><button onclick="EndreProsjekt()" class="btn btn-info">Endre Prosjekt</button></td>
        <td class="vaktEndring" style="display: none"><button onclick="VisKnapper()" class="btn btn-warning">Avbryt</button></td>
        <div id="endreprosjekt"></div>
    </tr>
</table> 
