@{
    ViewBag.Title = "LeggTilBruker";
}
<script type="text/javascript">

    function requestBruker() {
        var reqInn = {
            TilBruker: $('#TilTxt').val(),
            ProsjektId: $('#selectProsjekt').val()       
        };
        $.ajax({
            url: '/api/ProsjektreqApi/',
            type: 'POST',
            data: JSON.stringify(reqInn),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                alert("Sendt!");
            },
            error: function () {
                alert("bruker ikke funnet");
            }
        });
    }
</script>
    <div class="container">
        <h3>Legg til bruker</h3>
        <div class="row">

            <div class='col-sm-3'>
                <p>Jobb</p>
                <select class="form-control" id="selectProsjekt">
                    @{Html.RenderAction("prosjektMeny", "Prosjekt");}
                </select>

            </div>


            <div class='col-sm-3'>
                <p>Epost</p>
                <input class="form-control" type="text" id="TilTxt" placeholder="E-post" />

            </div>
            <div class='col-sm-3'>
                <p>Send</p>
                <button onclick="requestBruker()" class="btn btn-primary">Send forespørsel</button>
            </div>
        </div>
    </div>



