@{
    ViewBag.Title = "LeggTilBruker";
}
<script type="text/javascript">
    function slettRequest() {
        $("body").on('click', '#slettRequest', function () {
            var MeldingId = $(this).attr("value");
            $.ajax({
                url: '/api/Sjef/' + MeldingId,
                type: 'DELETE',
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    alert("Ok");
                    HentRequester();
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        })
    };

    function slettBrukerFraProsjekt() {
        $("body").on('click', '#slettBruker', function () {

           var ProsjektDeltakerId = $(this).attr("value")
            
            $.ajax({
                url: '/api/ProsjektDeltakelseApi/' + ProsjektDeltakerId,
                type: 'DELETE',
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    alert("Ok");
                    HentBrukere();
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        })
    };
    function HentRequester() {

        $.ajax({
            url: '/api/ProsjektreqApi/' + ProId(),
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                VisAlleReq(data);
            },
            error: function (x, y, z) {

            }
        });
    };

    function VisAlleReq(brukere) {
        var strResult = "<table class='table table-hover table-bordered'>";
        $.each(brukere, function (i, p) {
            strResult += "<tr class='danger'><td>" + p.TilBruker + "</td><td><button type='button' class='btn btn-danger' id='slettRequest' value=" + p.MeldingId + "><span class='glyphicon glyphicon-remove' aria-hidden='true'></span> Slett</button></td></tr>";
        });
        strResult += "</table>";
        $(".requester").html(strResult);
    }
    function GiAdminTilgang() {
        $('body').on('click', '#adminTilgang', function () {

            var adminInn = {
                BrukerId: $(this).attr("value"),
                ProsjektId: $('#selectProsjekt').val()
            };
            $.ajax({
                url: '/api/Sjef/',
                type: 'POST',
                data: JSON.stringify(adminInn),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    HentBrukere();
                },
                error: function () {
                    alert("bruker ikke funnet");
                }
            });
        })
    };
    function FjernAdminTilgang() {
        $('body').on('click', '#FjernadminTilgang', function () {
            var adminInn = {
                BrukerId: $(this).attr("value"),
                ProsjektId: $('#selectProsjekt').val()
            };
            $.ajax({
                url: '/api/Sjef/',
                type: 'PUT',
                data: JSON.stringify(adminInn),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    HentBrukere();
                },
                error: function () {
                    alert("bruker ikke funnet");
                }
            });
        })
    };
   function sendRequest() {
       $('body').on('click', '#sendReq', function () {
           var $this = $(this);
           $this.attr('disabled', 'disabled').html("Sender...");
            var reqInn = {
                TilBruker: $('#TilTxt').val(),
                ProsjektId: $('#selectProsjekt').val()
            };
            $.ajax({
                url: '/api/ProsjektreqApi/',
                type: 'POST',
                data: JSON.stringify(reqInn),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    $this.removeAttr('disabled').html('<span class="glyphicon glyphicon-send" aria-hidden="true"></span> Send forespørsel');
                    HentRequester();
                },
                error: function () {
                    alert("bruker ikke funnet");
                    $this.removeAttr('disabled').html('<span class="glyphicon glyphicon-send" aria-hidden="true"></span> Send forespørsel');
                }
            });
         
        })
    };
   function ProId() {
       var prosjektid = $('#selectProsjekt').val();
       if ($("#selectProsjekt:selected").length) {
           prosjektid = ($(this).find(":selected").val());

       }

       return prosjektid;
   }

   function HentBrukere() {

        $.ajax({
            url: '/api/BrukerApi/' + ProId(),
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                VisAlle(data);
            },
            error: function (x, y, z) {

            }
        });

    };

    function VisAlle(brukere) {
        var strResult = "<table id='sendemeldingSkjema'  class='table table-hover table-bordered' style='display:none;'>";
        strResult += "<tr ><td><input class='form-control' type='text' id='TilTxt' placeholder='E-post'/></td><td><button id='sendReq' class='btn btn-primary'><span class='glyphicon glyphicon-send' aria-hidden='true'></span> Send forespørsel</button></td><td><button type='button' class='btn btn-danger'><span class='glyphicon glyphicon-remove' aria-hidden='true'></span> Avbryt</button></td></tr>";
        strResult += "</table>";
        strResult += "<table class='table table-hover table-bordered'>";
        $.each(brukere, function (i, p) {
            var knapp = "<button type='button' id='adminTilgang' class='btn btn-info' value=" + p.BrukerId + "><span class='glyphicon glyphicon-plus' aria-hidden='true'></span> Administrator</button>";
            if (p.Admin == true)
            {
                knapp = "<button type='button' id='FjernadminTilgang' class='btn btn-danger' value=" + p.BrukerId + "><span class='glyphicon glyphicon-minus' aria-hidden='true'></span> Administrator</button>";
            }
            strResult += "<tr><td>" + p.Navn + "</td><td>" + knapp + "</td><td><button type='button' class='btn btn-danger' id='slettBruker' value=" + p.ProsjektDeltakerId + "><span class='glyphicon glyphicon-remove' aria-hidden='true'></span> Slett</button></td></tr>";
        });
        strResult += "</table>";
        $(".brukere").html(strResult);
    }
    function selOnChange() {
        $('#selectProsjekt').on('change', function () {
            HentBrukere();
            HentRequester();
           });
    };
    $(document).ready(function () {
        sendRequest();
        HentBrukere();
        selOnChange();
        GiAdminTilgang();
        HentRequester();
        slettBrukerFraProsjekt();
        slettRequest();
        FjernAdminTilgang();

        $("#leggTilBruker").click(function () {
            var text = $("#sendemeldingSkjema");
            if (text.is(':hidden')) {
                text.slideDown();
            }
            else {
                text.slideUp();
                
            }
        });
    });

</script>
<h2>Legg til bruker</h2>
    <div class="container">
       
        <div class="row">

            <div class='col-sm-3'>
                <p>Jobb</p>
                <select class="form-control" id="selectProsjekt">
                    @{Html.RenderAction("prosjektMeny", "Prosjekt");}
                </select>
            </div>
            <div class='col-sm-3'>
                <p>Epost</p>
                <input class="form-control" type="text" id="TilTxt" placeholder="E-post" />
            </div>
            <div class='col-sm-3'>
                <p>Send</p>
                <button id="sendReq" class="btn btn-primary"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Send forespørsel</button>
            </div>
        </div>
    </div>
<br />
<h2>Ansatte</h2><button type="button" id="leggTilBruker" class="btn btn-block btn-success btn-sm" style="position:center;">
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Legg til bruker
</button>
<div class="brukere"></div>
<hr />
<h2>Venter på godkjenning</h2>
<div class="requester"></div>


<div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">Left</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">Middle</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">Right</button>
    </div>
</div>