<script type="text/javascript">
      $(document).ready(function () {
          HentMelding();    
          godkjenn();
          slett();
      });


      function godkjenn() {
          $("#meldinger").on('click', '.Godkjenn', function () {
              var ProsjektG = {
                  ProsjektId: this.id
              };
   
              $.ajax({
                  url: '/api/ProsjektDeltakelseApi/',
                  type: 'POST',
                  data: JSON.stringify(ProsjektG),
                  contentType: "application/json;charset=utf-8",
                  success: function (data) {
                      alert("Ok" + ProsjektG.ProsjektId);
                  },
                  error: function (x, y, z) {
                      alert(x + '\n' + y + '\n' + z);
                  }
              });
          })
      };
    function HentMelding() {
        $.ajax({
            url: '/api/ProsjektreqApi',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                VisAlle(data);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }
    function VisAlle(melding) {
        
        var strResult = "";
        var antallMeldinger = 0;
        
        $.each(melding, function (i, m) {
            antallMeldinger+=antallMeldinger+1;
            strResult += "<p> " + m.Tid + " " + m.FraBruker + " " + m.Melding + " " + m.Prosjektnavn + "</p> <button class='Godkjenn btn btn-success' id=" + m.ProsjektId + " >Godta</button><button class='Avslag btn btn-danger' id=" + m.ProsjektId + " >Avslå</button>";
        });
        $('#antallmeldinger').html("Du har <span class='badge'>"+ parseInt(antallMeldinger) + "</span> meldinger")
        $("#meldinger").html(strResult);
 }

    function slett() {
        $("#meldinger").on('click', '.Avslag', function () {
            var ProsjektG = {
                ProsjektId: this.id
            };

            $.ajax({
                url: '/api/ProsjektreqApi/' + ProsjektG.ProsjektId,
                type: 'DELETE',
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    alert("Ok");
                    $("#meldinger").fadeOut();
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        })
    };
    </script>
<br />
<div id="antallmeldinger"></div>
<hr />
<div id="meldinger"></div>