<script type="text/javascript">
    $(document).ready(function () {
          HentMelding();    
          godkjenn();
          slett();
          HentVaktMelding();
          godkjennVakt();
          slettVaktRequest();
      });
    function godkjenn() {
          $("#meldinger").on('click', '.Godkjenn', function () {
              var ProsjektG = {
                  ProsjektId: $(this).attr("value")
              };
   
              $.ajax({
                  url: '/api/ProsjektDeltakelseApi/',
                  type: 'POST',
                  data: JSON.stringify(ProsjektG),
                  contentType: "application/json;charset=utf-8",
                  success: function (data) {
                      alert("Ok");
                      HentMelding();
                  },
                  error: function (x, y, z) {
                      alert(x + '\n' + y + '\n' + z);
                  }
              });
          })
      };
    function HentMelding() {
        $.ajax({
            url: '/api/ProsjektreqApi',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                VisAlle(data);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }
    function VisAlle(melding) {
        
        var strResult = "";
        var antallMeldinger = 0;
        
        $.each(melding, function (i, m) {
            antallMeldinger+=antallMeldinger+1;
            strResult += "<p> " + m.Tid + " " + m.FraBruker + " " + m.Melding + " " + m.Prosjektnavn + "</p> <button class='Godkjenn btn btn-success' value=" + m.ProsjektId + " >Godta</button><button class='Avslag btn btn-danger' value=" + m.ProsjektId + " >Avslå</button>";
        });
        $('#antallmeldinger').html("Du har <span class='badge'>"+ parseInt(antallMeldinger) + "</span> meldinger")
        $("#meldinger").html(strResult);
 }
    function slettVaktRequest() {
        $("body").on('click', '#SlettReq', function () {
            var MeldingId = $(this).attr("value");
            
            $.ajax({
                url: '/api/VaktApi3/' + MeldingId,
                type: 'DELETE',
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    alert("Ok");
                    HentVaktMelding();
                   
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        })
    };
    function slett() {
        $("#meldinger").on('click', '.Avslag', function () {
            var ProsjektG = {
                ProsjektId:$(this).attr("value")
            };

            $.ajax({
                url: '/api/ProsjektreqApi/' + ProsjektG.ProsjektId,
                type: 'DELETE',
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    alert("Ok");
                    HentVaktMelding();
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        })
    };
    function godkjennVakt() {
        $("#vaktEndringer").on('click', '.GodkjennVakt', function () {
            var MeldingId = $(this).attr("value");

            $.ajax({
                url: '/api/VaktApi3/'+MeldingId,
                type: 'PUT',
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    alert("Ok");
                    HentVaktMelding();
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        })
    };
    function HentVaktMelding() {
        $.ajax({
            url: '/api/VaktApi3',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                VisAlleVaktReq(data);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }
    function VisAlleVaktReq(melding) {

        var strResult = "<table class='table table-hover table-bordered meldinger'>";
        $.each(melding, function (i, m) {
            strResult += "<th>Sendt</th><th>Fra</th><th>Melding</th><th>Jobb</th><th>+-</th><tr><td> " + m.Tid + "</td><td> " + m.FraBruker + "</td><td> " + m.Melding + " " + m.start + m.end + " <td>" + m.Prosjektnavn + "</td><td> <button class='GodkjennVakt btn btn-success' id='GodtaVakt' value=" + m.MeldingId + " >Godta</button><button class='Avslag btn btn-danger' id='SlettReq' value=" + m.MeldingId + " >Avslå</button></td></tr>";
        });
        strResult += "</table>";
        $("#vaktEndringer").html(strResult);
    }
</script>
<br />
<div id="antallmeldinger"></div>
<hr />
<div id="vaktEndringer"></div>
<div id="meldinger"></div>