<script type="text/javascript">
    $(document).ready(function () {
          HentMelding();    
          godkjenn();
          slett();
          HentVaktMelding();
          godkjennVakt();
          slettVaktRequest();
      });
    function godkjenn() {
          $("#meldinger").on('click', '.Godkjenn', function () {
              var ProsjektG = {
                  ProsjektId: $(this).attr("value")
              };
   
              $.ajax({
                  url: '/api/ProsjektDeltakelseApi/',
                  type: 'POST',
                  data: JSON.stringify(ProsjektG),
                  contentType: "application/json;charset=utf-8",
                  success: function (data) {
                      alert("Ok");
                      HentMelding();
                  },
                  error: function (x, y, z) {
                      alert(x + '\n' + y + '\n' + z);
                  }
              });
          })
      };
    function HentMelding() {
        $.ajax({
            url: '/api/ProsjektreqApi',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                VisAlle(data);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }
    function VisAlle(melding) {
        
        var strResult = "";
        var antallMeldinger = 0;
        var d = new Date();
        $.each(melding, function (i, m) {
            var d = new Date(Date.parse(m.Tid));
            antallMeldinger += antallMeldinger + 1;
            var s = new Date(Date.parse(m.Tid));
            var sendt = s.toLocaleString();
            strResult += "<tr><th>Sendt</th><th>Fra</th><th>Jobbinvitasjon</th><th></th></tr><tr><td> " + sendt + "</td><td> " + m.FraBruker + "</td><td>" + m.Melding + "<strong> " + m.Prosjektnavn + "</strong></td><td> <button class='Godkjenn btn btn-success' value=" + m.ProsjektId + " >Godta</button> <button class='Avslag btn btn-danger' value=" + m.ProsjektId + " >Avslå</button></td></tr>";
        });
        var invitasjon = "jobbinvitasjoner";
        if (antallMeldinger == 1)
        { var invitasjon = "jobbinvitasjon"; }
        $('#antallmeldinger').html("Du har <span class='badge'>"+ parseInt(antallMeldinger) + "</span> "+ invitasjon)
        $("#meldinger").html(strResult);
 }
    function slettVaktRequest() {
        $("body").on('click', '#SlettReq', function () {
            var MeldingId = $(this).attr("value");
            
            $.ajax({
                url: '/api/VaktApi3/' + MeldingId,
                type: 'DELETE',
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    alert("Ok");
                    HentVaktMelding();
                   
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        })
    };
    function slett() {
        $("#meldinger").on('click', '.Avslag', function () {
            var ProsjektG = {
                ProsjektId:$(this).attr("value")
            };

            $.ajax({
                url: '/api/ProsjektreqApi/' + ProsjektG.ProsjektId,
                type: 'DELETE',
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    alert("Ok");
                    HentVaktMelding();
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        })
    };
    function godkjennVakt() {
        $("#vaktEndringer").on('click', '.GodkjennVakt', function () {
            var MeldingId = $(this).attr("value");

            $.ajax({
                url: '/api/VaktApi3/'+MeldingId,
                type: 'PUT',
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    alert("Ok");
                    HentVaktMelding();
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        })
    };
    function HentVaktMelding() {
        $.ajax({
            url: '/api/VaktApi3',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                VisAlleVaktReq(data);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }
    function VisAlleVaktReq(melding) {
        var antallMeldinger = 0;
        var d = new Date();
        var d1 = new Date();
        var sendt = new Date();

        var strResult = "<table class='table table-hover table-bordered meldinger'>";
        $.each(melding, function (i, m) {
            var s = new Date(Date.parse(m.Tid));
            var d = new Date(Date.parse(m.start));
            var d1 = new Date(Date.parse(m.end));
            antallMeldinger += antallMeldinger + 1;
            var sendt = s.toLocaleString();
            var date = d.toLocaleString();
            var date2 = d1.toLocaleString();
            strResult += "<th>Sendt</th><th>Fra</th><th>Vaktforespørsel</th><th>Bedrift</th><th> </th><tr><td> " + sendt + "</td><td> " + m.FraBruker + "</td><td> " + m.Melding + " " + date +"<strong>-</strong>" +date2 + " <td>" + m.Prosjektnavn +
                "</td><td> <button class='GodkjennVakt btn btn-success' id='GodtaVakt' value=" + m.MeldingId + " >Godta</button>   <button class='Avslag btn btn-danger' id='SlettReq' value="
                + m.MeldingId + " >Avslå</button></td></tr>";
        });
        strResult += "</table>";
        var invitasjon = "vaktforespørsler";
        if (antallMeldinger == 1)
        { var invitasjon = "vaktforespørsel"; }
        $("#vaktEndringer").html(strResult);
        $('#vaktmeldinger').html("Du har <span class='badge'>" + parseInt(antallMeldinger) + "</span> " + invitasjon)
    }
</script>
<br />
<div id="antallmeldinger"></div><div id="vaktmeldinger"></div>
<hr/>
<table id="meldinger" class="table table-hover table-bordered meldinger">
    
</table>
<div id="vaktEndringer"></div>
