@model IEnumerable<Jobbplan.Models.ProsjektVis>
@{
    ViewBag.Title = "Vis";
}
<p>
    Velg mellom @Model.Count() Prosjekter:
</p>
<ul>
    @foreach (var Pro in Model)
    {
        <li>@Html.ActionLink(Pro.Arbeidsplass,"")</li>
    }
</ul>
<!--
<script type="text/javascript">
    $(function () {
        HentKat(); 
    });


    function HentKat() {
        $.ajax({
            url: '/api/ProsjektApi',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                VisProsjekt(data);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }

    function VisProsjekt(faqkat) {
        $.each(faqkat, function (i, p) {
            strResult += "<li><input type='radio'' name='chk' class='faqChk' value='" + p.Id + "'/>" + p.Navn + "</li>";
        });
        $("#kategorier").html(strResult);
    }

</script>-->


