<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js"></script> 
<script src="~/Fullcalendar/lang/nb.js"></script>
<script type="text/javascript">

     $(document).ready(function() {
         
         selOnChange();
         HentProsjekter();
     });
    
     function ProId() {
         var prosjektid = $('#selectProsjekt').val();
         if ($("#selectProsjekt:selected").length) {
             prosjektid = ($(this).find(":selected").val());
         }
         return prosjektid;
     }

     function selOnChange() {
         $(document).on('change', '#selectProsjekt', function () {
             Hentvakter();
         });
     };

     function Hentvakter() {
         $.ajax({
             url: '/api/TimelisteApi/' + ProId(),
             type: 'GET',
             dataType: 'json',
             success: function(data) {
                 VisTimeliste(data);
             },
             error: function(x, y, z) {
                 $('#ingenTimeliste').html("<div class='alert alert-warning' role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>Du har ingen vakter. </div>");
             }
         });
     };

     function VisTimeliste(vakter) {
         var strResult = "<table class='table table-striped' role='presentation'>";
         var d = new Date();
         var slutt = new Date();

         $.each(vakter, function (i, p) {
            // var d = new Date(Date.parse(p.PeriodeStart));
             //var d1 = new Date(Date.parse(p.PeriodeSlutt));
       
             var date = moment(p.PeriodeStart).format('LLL');
             var date2 = moment(p.PeriodeSlutt).format('LLL');
            
             strResult += "<tr><td><strong> Fra:</strong> "+ date+"</td><td><strong>Til:</strong> "+ date2 +"</td><td><button type='button' class='btn btn-warning'><span class='glyphicon glyphicon-edit' aria-hidden='true'></span> Endre</button></td></tr>";
         }); 
         strResult += "</table>";
         $("#timeliste").html(strResult);
     }
     function HentProsjekter() {
         $.ajax({
             url: '/api/ProsjektApi/',
             type: 'GET',
             dataType: 'json',
             success: function (data) {
                 VisAlleProsjekter(data);
                 Hentvakter();
             },
             error: function (x, y, z) {
                 $('#feil').html("<div class='alert alert-warning alert-dismissible' role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button><strong>Du er ikke medlem av noen bedrifter enda!</strong> Gå til <a href='/Prosjekt/Index' class='alert-link'>denne siden</a> for å legge til en jobb</div>");

             }
         });

     };
     function VisAlleProsjekter(prosjekter) {
         var strResult = "<select class='form-control input-sm' id='selectProsjekt'>";
         $.each(prosjekter, function (i, p) {
             strResult += "<option value='" + p.Id + "'>" + p.Arbeidsplass + "</option>";
         });
         strResult += "</select>";
         $("#prosjektM").html(strResult);
        
     }
 </script>


<div class='col-sm-2' style="margin-bottom:14px;">
    <p>Velg jobb</p>
   <div id="prosjektM"></div>
</div>
<div id="feil"></div>
<div id="timeliste"></div>
<div id="ingenTimeliste"></div>