 <script type="text/javascript">

    $(document).ready(function () {
        Hentvakter();
    });
    function Hentvakter() {
        $.ajax({
            url: '/api/TimelisteApi',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                VisTimeliste(data);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    };
function VisTimeliste(vakter) {
    var strResult = "<table class='table table-hover table-bordered'>";
    $.each(vakter, function (i, p) {
        strResult += "<tr><td> Fra: " + p.PeriodeStart + "</td><td>Til: " + p.PeriodeSlutt + "</td><td><button type='button' class='btn btn-warning'><span class='glyphicon glyphicon-edit' aria-hidden='true'></span> Endre</button></td></tr>";
    });
    strResult += "</table>";
    $("#timeliste").html(strResult);
}
</script>

<div id="timeliste"></div>