 

<script type="text/javascript">


function Hentvakter() {
        $.ajax({
            url: '/api/ProsjektApi' + Brukerid,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                Vis(data);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
}


</script>



<button onclick="HentVakter()"> Alle vakter</button>