<script src="~/Scripts/Vakt.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js"></script>
@{
    ViewBag.Title = "Index";
}
<div id="feil">
    <button id="mer" class="btn btn-primary btn-block" style="margin-top: 10px;">Legg til vakt
        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true" id="vaktNed"></span>
    </button>
</div>
<div id="malok"></div>

<button id="malKnapp" class="btn btn-info btn-sm" style="margin-top: 5px; display: none;">Legg til maler <span class="glyphicon glyphicon-flash" aria-hidden="true"></span></button>

<div class="container" id="malReg" style="display: none;">

    <div class="row" id="Maler">
        

        <div class='col-sm-2'>
            <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span><label>Vakt tittel:</label>
            <input type='text' class="form-control input-sm" id='MalTittel'/>
        </div>
        <div class='col-sm-1'>
            <label>Tid fra:</label>
            <input type="text" class="form-control input-sm" id='timepicker10' aria-describedby="end-date">
        </div>
        <div class='col-sm-1'>
            <label>Tid til:</label>
            <input type="text" class="form-control input-sm" id='timepicker9' aria-describedby="start-date">
        </div>
        <div class='col-sm-1'>
            <label>Legg til</label>
            <button class="btn btn-success btn-sm" rows="1" id="LeggTilMal">Legg til mal</button>
        </div>
        <div class='col-sm-1'>
            <label>Avbryt</label>
            <button class="btn btn-warning btn-sm" rows="1" id="avbrytMal">Avbryt</button>
        </div>
    </div>
    <script type="text/javascript">
            $(function () {

                $('#timepicker9').datetimepicker({
                    format: 'H:mm'
                });
                $('#timepicker10').datetimepicker({
                    format: 'H:mm'
                });
            });
    </script>
    <hr />
</div>
<div class="container" id="vaktRegistrering" style="display:none;">
    <div class="row">
        <div class='col-sm-2'>
            <label>Dato:</label>         
            <input type="text" class="form-control input-sm" id='datetimepicker4' aria-describedby="start-date">
        </div>
        <div class='col-sm-1'>
            <label>Sluttdato</label>
            <input type='checkbox' class="" id='checkAllDay' />
        </div>
        <div class='col-sm-2' id="tilDato" style="display: none;">
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><label>Til:</label>
            <input type='text' class="form-control input-sm" id='datetimepicker5'/>
        </div>
        <div class='col-sm-2'>
            <label for="selMal">Mal:</label>
            <select class="form-control input-sm maler" id="maler">
                <option></option>
            </select>
        </div>
        <div class='col-sm-1'>
            <label>Tid fra:</label>     
                <input type="text" class="form-control input-sm" id='timepicker6' aria-describedby="end-date">    
         
        </div>
        <div class='col-sm-1'>
            <label>Tid til:</label>          
                <input type="text" class="form-control input-sm" id='timepicker7' aria-describedby="start-date">
        </div>
        

        <div class='col-sm-2'>
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <label for="sel1">Ansatt:</label>
            <select class="form-control input-sm brukere" id="brukere">
                <option></option>
            </select>
        </div>
        <div class='col-sm-2' >
            <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span><label>Vakt tittel:</label>
            <input type='text' class="form-control input-sm" id='Tittel' />
        </div>
   
        <div class='col-sm-2'>
            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span><label>Notater:</label>
            <textarea class="form-control input-sm" rows="1" id="Beskrivelse"></textarea>
        </div>
        <script type="text/javascript">
            $(function() {
                $('#datetimepicker4').datetimepicker({
                    format: 'DD.MM.YYYY'
                });
                $('#datetimepicker5').datetimepicker({
                    format: 'DD.MM.YYYY'
                });
                $('#timepicker6').datetimepicker({
                    format: 'H:mm'
                });
                $('#timepicker7').datetimepicker({
                    format: 'H:mm'
                });
            });
        </script>
        <div class='col-sm-1'>
            <label>Legg til</label>
            <button class="btn btn-success btn-sm" rows="1" id="LeggTilVakt">Legg til vakt</button>
        </div>
       </div>
   
    </div>

  
 <hr />

<div class="row" style="margin-top: 25px; margin-left: 168px;">
    <p style="margin-left: 15px;"><strong>Velg arbeidsplass:</strong></p>
    <div class='col-sm-2'>
        <select class="form-control input-sm" id="selectProsjekt">
            @{Html.RenderAction("prosjektMeny", "Prosjekt");}
        </select>
    </div>
    <div style="margin-left: 275px;">
        <button class="btn btn-primary btn-sm" id="alleMineVakter">Alle mine vakter</button>
        <button class="btn btn-primary btn-sm" id="mineVakter">Mine vakter</button>
        <button class="btn btn-primary btn-sm" disabled="disabled" id="visAlleVakter">Alle vakter</button>
        <button class="btn btn-success btn-sm" id="ledigeVakter">Ledige vakter</button>
        <div style="position: absolute; color: blue;" class="loading">Laster inn...</div>
    </div>

</div>

<img src="~/Content/ajax_loader_gray.gif" class="loading" alt="Loading" style="position: absolute;top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px; width: 220px; height: 220px;">
<div id='calendar'></div>

<div id="fullCalModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                <h4 id="modalTitle" class="modal-title"></h4>
            </div>
            <div id="modalBody" class="modal-body">       
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div id="tavakt" style="float: left; margin-right: 2px;"></div>
                    <button style="float: left; margin-right: 2px; " onclick="VisKnapper();" class="btn btn-warning" rows="1" id="EndreVakt">Endre vakt</button>
                    <div style="float: left;" id="slettvakt"></div>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

                <div class="container" id="vaktEndring" style="display: none;">

                    <div class="row">
                        <div class='col-sm-3'>
                            <label>Dato:</label>
                            <input type="text" class="form-control input-sm" id='datetimepicker1' aria-describedby="start-date">
                        </div>

                        <div class='col-sm-3'>
                            <label>Annen sluttdato</label>
                            <input type='checkbox' class="" id='echeckAllDay'/>
                        </div>

                        <div class='col-sm-2' id="etilDato" style="display: none;">
                            <label>Til:</label>
                            <input type='text' class="form-control input-sm" id='datetimepicker2'/>
                        </div>


                        <div class='col-sm-2'>
                            <label>Tid fra:</label>
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" id='etimepicker6' aria-describedby="start-date">

                            </div>
                        </div>
                        <div class='col-sm-2'>
                            <label>Tid til:</label>
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" id='etimepicker7' aria-describedby="start-date">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class='col-sm-2'>
                            <label for="sel1">Ansatt:</label>
                            <select class="form-control input-sm brukere" id="ebrukere">
                                <option></option>
                            </select>
                        </div>

                        <div class='col-sm-2'>
                            <label>Tittel:</label>
                            <input type='text' class="form-control input-sm" id='eTittel'/>
                        </div>

                        <div class='col-sm-2'>
                            <label>Notater:</label>
                            <textarea class="form-control input-sm" rows="1" id="eBeskrivelse"></textarea>
                        </div>
                        <script type="text/javascript">
                            $(function() {
                                $('#datetimepicker1').datetimepicker({
                                    format: 'DD.MM.YYYY'
                                });
                                $('#datetimepicker2').datetimepicker({
                                    format: 'DD.MM.YYYY'
                                });
                                $('#etimepicker6').datetimepicker({
                                    format: 'H:mm'
                                });
                                $('#etimepicker7').datetimepicker({
                                    format: 'H:mm'
                                });
                            });
                        </script>

                        <div class='col-sm-2'>
                            <label></label>
                            <div id="endrevakt"></div>
                        </div>
                        <div class="col-sm-2">
                            <label></label>
                            <button onclick="VisKnapper();" class="btn btn-danger" rows="1" id="visKnapp">Avbryt</button>
                        </div>

                    </div>


                </div>
           
        </div>
    </div>
</div>

