<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Fullcalendar/fullcalendar.css" rel="stylesheet" />
    <link href="~/Fullcalendar/fullcalendar.min.css" rel="stylesheet" media="print" />
    <link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />

    <script src="~/Fullcalendar/lib/moment.min.js"></script>
    <script src="~/Fullcalendar/lib/jquery.min.js"></script>
    <script src="~/Fullcalendar/fullcalendar.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src='~/Fullcalendar/lang/nb.js'></script>
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>

<body>
    <script type="text/javascript">
        $(document).ready(function () {
            HentAntallMeldinger();
         
            $.each($('.navbar').find('li'), function () {
                $(this).toggleClass('active',
                    $(this).find('a').attr('href') == window.location.pathname);
            });
        });
        function HentAntallMeldinger() {
            $.ajax({
                url: '/api/BrukerApi',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    VisAntall(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }
        function VisAntall(meldinger) {
            $('#antallInnboks').html(meldinger);
            $('#antallInnboks2').html(meldinger);
        }

    </script>
    <div class="navbar navbar-default navbar-fixed-top globalmeny">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" >JP</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse" id="menyValgNav">
                <ul class="nav navbar-nav" style="font-size:18px;margin: 2px;">
                    <li class="active"><a href="~/Vakt/Index" alt="Menyvalg for valg av kalender"> Kalender <span class="glyphicon glyphicon-calendar menyIkoner"></span></a></li>
                    <li class="dropdown">
                        <a href="#" alt="dropp-down meny" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Administrasjon <span class="glyphicon glyphicon-cog menyIkoner" aria-hidden="true"></span> </a>
                        <ul class="dropdown-menu">
                            <li><a href="~/Prosjekt/Index" alt="Menyvalg for administrasjon av bedrifter">Bedrifter <span class="glyphicon glyphicon-briefcase pull-right"></span></a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="~/Prosjekt/LeggTilBruker" alt="Menyvalg for å legge til brukere">Ansatte <span class="glyphicon glyphicon-user pull-right"></span></a></li>
                        </ul>
                    
                   <li><a href="~/Timeliste/Index" alt="Menyvalg for å se timehistorikk"> Timeliste <span class="glyphicon glyphicon-time menyIkoner"></span></a></li>
                   <li><a href="~/Prosjekt/Meldingsboks" alt="Menyvalg for å se meldingsboks"> Innboks <span class="glyphicon glyphicon-envelope menyIkoner"></span><span class="badge" id="antallInnboks" style=""></span></a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="elementerInav">@{Html.RenderAction("LoggetInn", "Bruker");}</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="Body">
        <div class="container body-content">
            @RenderBody()
            <hr />
            
        </div>
    </div>
    <footer id="footer">
        
        <div class="container footer">
           
                <a href="/Home/OmJobbplan" class="text-muted" alt="Om Jobbplan" style="padding-right:20px;"> &copy; @DateTime.Now.Year JobbPlan </a> 
                <a href="/Home/Informasjonskapsler" class="text-muted" alt="Informasjon om informasjonskapsler">Informasjonskapsler</a>
     
        </div>
    </footer>
  
</body>
</html>