

<p>Jobbplan benytter informasjonskapsler – såkalte «cookies». Informasjonskapslene benyttes for å huske innloggingsdetaljene til brukeren, og tilpasse tjenestene slik at brukerne opplever en bedre brukeropplevelse, f.eks. ved at nettsiden husker tidligere brukerinnstillinger gjort på siden.</p>