body {
     font-family: 'Segoe WP SemiLight';
      background-color:rgb(36,39,48);
}
#cookieW{
     width:200px; 
     float:right;
   position:fixed;
}
#lPass{
 font-family: 'Segoe WP SemiLight';
 font-weight: normal !important;
}
#lBnavn{
 font-family: 'Segoe WP SemiLight';
 font-weight: normal !important;
}
#passordtxt,#brukernavntxt{
    background-color:rgb(45,49,57);
    border:1px solid;
    border-color: lightskyblue; 
}
input, select, textarea{
    color: white;
    text-align:center;
    font-family:Arial;
   
}

#brukernavntxt{
    color:lightskyblue;
    margin-bottom:16px;
    width:350px;
    height:40px;
}
#passordtxt{
    color:lightskyblue;
   width:350px;
   height:40px;
}
::-webkit-input-placeholder {
   text-align: center;
   font-style:italic;
  
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
   
}

:-ms-input-placeholder {  
   text-align: center;
    
}
#LogginnKnapp{
    border:none;
    font-size:15px;
    font-family:Arial;
  margin-left:120px;
}
#registrer{
    text-align:center;   
      margin-left:90px;
     
}

#logginnskjema{
  margin-top:150px;
    position:static;
    width:400px; 
    
}

#JpLogo{
    font-family: 'Segoe WP SemiLight';
    margin-bottom:70px;
    font-size:45px; 
    color:rgb(36,39,48);
    margin-left:83px;
    
}
#sirkel{
 background-color:rgb(28,162,221);
    border-radius: 50%;
	width: 230px;
	height: 230px; 
    position:absolute;
    z-index:-1;
    margin-top: -220px;
    margin-left:55px;
}

