body {
    background-image: url("background.jpg");
    background-size:100%;
    background-color: #cccccc;
}

#JobbPlanLogo {
   text-shadow: 2px 2px #ffffff;
    /*color: rgb(230,71,89);*/
    color: rgb(28,168,221);
    font-size:10.9vw;
    font-family:'Century Gothic';
    text-align:center;
    
}
#innhold{
   background-color:rgb(35,39,47);
}
#passordtxt,#brukernavntxt{
    background-color:rgb(45,49,57);
    border:1px solid;
    border-color: white; 
}
input, select, textarea{
    color: white;
    text-align:center;
    font-family:Arial;
   
}

#Logo{

}
#brukernavntxt{
    color:wheat;
    margin-bottom:16px;
    width:350px;
    height:40px;
}
#passordtxt{
    color:wheat;
   width:350px;
   height:40px;
}
::-webkit-input-placeholder {
   text-align: center;
   font-style:italic;
  
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
   
}

:-ms-input-placeholder {  
   text-align: center;
    
}
#LogginnKnapp{
    background-color:rgb(35,39,47);
    color:white;
    border:none;
    font-size:15px;
    font-family:Arial;
  
}
#registrerbruker{
    text-align:center;
    
     border:solid 2px;
}

#logginnskjema{
   margin-top:80px;
    position:static;
    width:400px; 
    
}
LogoDiv
{
    margin-right:500px;
    
    width:400px; 
}
#JpLogo{
    
    margin-left:60px;
    margin-bottom:15px;
    font-size:3vw; 
    color:rgb(230,71,89);
}
#skyLogo{
    margin-top:48px;
    margin-left:380px;
    position:absolute;
    z-index:-1; 
    color:rgb(35,39,47);
    font-size:20vw;
}
.cookieAlert 
{
position: relative;
width: 265px;
height: 120px;
padding: 0px;
background: #EAE9EA;
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;
border: #1D7F7F solid 4px;
}

.cookieAlert:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 15px 0;
border-color: #EAE9EA transparent;
display: block;
width: 0;
z-index: 1;
bottom: -15px;
left: 160px;
}

.cookieAlert:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 18px 18px 0;
border-color: #1D7F7F transparent;
display: block;
width: 0;
z-index: 0;
bottom: -22px;
left: 157px;
}
 .test + .tooltip > .tooltip-inner {
      background-color: #73AD21; 
      color: #FFFFFF; 
      border: 1px solid green; 
      padding: 15px;
      font-size: 20px;
  }
  /* Tooltip on top */
  .test + .tooltip.top > .tooltip-arrow {
      border-top: 5px solid green;
  }
  /* Tooltip on bottom */
  .test + .tooltip.bottom > .tooltip-arrow {
      border-bottom: 5px solid blue;
  }
  /* Tooltip on left */
  .test + .tooltip.left > .tooltip-arrow {
      border-left: 5px solid red;
  }
  /* Tooltip on right */
  .test + .tooltip.right > .tooltip-arrow {
      border-right: 5px solid black;
  }
.red-tooltip + .tooltip > .tooltip-inner {background-color: #f00;}
.red-tooltip + .tooltip > .tooltip-arrow { border-bottom-color:#f00; 