body {
    background-image: url("background.jpg");
    background-size:100%;
    background-color: #cccccc;

}

#JobbPlanLogo {
   text-shadow: 2px 2px #ffffff;
    /*color: rgb(230,71,89);*/
    color: rgb(28,168,221);
    font-size:10.9vw;
    font-family:'Century Gothic';
    text-align:center;
    
}
#innhold{
   background-color:rgb(35,39,47);
}
#passordtxt,#brukernavntxt{
    background-color:rgb(45,49,57);
    border:1px solid;
    border-color: white; 
}
input, select, textarea{
    color: white;
    text-align:center;
    font-family:Arial;
   
}
#logginnskjema{
 
    width:400px; 
    margin: 0 auto;
}
#Logo{

}
#brukernavntxt{
    color:wheat;
    margin-bottom:16px;
    width:350px;
    height:40px;
}
#passordtxt{
    color:wheat;
   width:350px;
   height:40px;
}
::-webkit-input-placeholder {
   text-align: center;
   font-style:italic;
  
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
   
}

:-ms-input-placeholder {  
   text-align: center;
    
}
#LogginnKnapp{
    background-color:rgb(35,39,47);
    color:white;
    border:none;
    font-size:15px;
    font-family:Arial;
  
}
#registrerbruker{
    text-align:center;
    
     border:solid 2px;
}
