body {
    background-color:rgb(35,39,47);
    color:white;
}
#innhold{
   background-color:rgb(35,39,47);
}
#registrerSkjema{
    margin:auto;
    margin-top:5%;
}
#registrerSkjema, td{
    padding:4px;
   
}
#regDeg{
    font-size:25px;
    color:rgb(66,139,202);
   
}

input, select, textarea{
    color: white;
    text-align:center;
    font-family:Arial;
   
}


::-webkit-input-placeholder {
   text-align: center;
   font-style:italic;
  
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
   
}

:-ms-input-placeholder {  
   text-align: center;
    
}
#registrerbruker{
    text-align:center;
     margin-left:-56px;
     border:solid 2px;
}

