body {
    padding-top: 50px;
    padding-bottom: 20px;
    
}
/*#Body{
background-color:rgb(35,39,47);
color: rgb(76, 255, 0);
}*/
#calendar{
    width:70%;
    height:70%;
    margin:auto;
    background-color:rgb(255, 255, 255);
    color:rgb(35,39,47);
    padding:13px;
    border-radius:4px;
 }
#vaktRegistrering{
    margin:auto;
    
}
#vaktNed{
    
  
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

