
@{
    ViewBag.Title = "LoggetInn";
}

<h2>LoggetInn</h2>
<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Action
    </button>
    <ul class="dropdown-menu">
        <li class="dropdown-item" >Action</li>
        <li class="dropdown-item" >Another action</li>
        <li class="dropdown-item" >Something else here</li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item" >Separated link</li>
    </ul>
</div>
@Html.ActionLink("Registrer ny bedrift", "Index", "Prosjekt")
<p>@ViewData["brukerPå"]</p>