<script type="text/javascript">

    
    $(document).ready(function () {
        HentBruker();
    
        function HentBruker()	{
            $.support.cors	=	true;	
            $.ajax({
                url:	'/api/Profil',
                type:	'GET',
                dataType:	'json',
                success:	function (data)	{
                    VisBruker(data);
                },
                error:	function (x,	y,	z)	{
                    alert(x	+	'\n' +	y	+	'\n' +	z);
                }
            });
        }


        function VisBruker(dbBruker)
        {
            var strResult = "<table class='table table-hover table-bordered'>";
            $.each(dbBruker, function(i, p) {
                strResult += "<tr><td> Fornavn: " + p.Fornavn + "</td></tr><tr><td>Etternavn: " + p.Etternavn + "</td></tr><tr><td>Adresse: " + p.Adresse + "</td></tr><tr><td>Email: " + p.Email + "</td></tr><tr><td><button type='button' class='btn btn-warning'><span class='glyphicon glyphicon-edit' aria-hidden='true'></span> Endre</button></td></tr>";
            });
            strResult += "</table>";
            $("#brukerliste").html(strResult);
        }
    })
    

</script>



@{
    ViewBag.Title = "MinProfil";
}

<h2>MinProfil</h2>

<div id="brukerliste"></div>