<script type="text/javascript">
    $(document).ready(function() {
        HentBruker();
    });
        function HentBruker()	{
            $.support.cors=true;	
            $.ajax({
                url:'/api/Profil',
                type:'GET',
                dataType:'json',
                success:function (data)	{
                    VisBruker(data);
                },
                error:	function (x,	y,	z)	{
                    alert(x	+	'\n' +	y	+	'\n' +	z);
                }
            });
        }

        
        function VisBruker(dbBruker)
        {
            var strResult = "<table class='table table-hover table-striped'>";
            $.each(dbBruker, function(i, p) {
                strResult += "<tr><td> Fornavn:</td><td> " + p.Fornavn + "</td></tr><tr><td>Etternavn:</td><td> " + p.Etternavn + "</td></tr><tr><td>Email:</td><td> " + p.Email + "</td></tr>";
            });
            strResult += "</table>";
            $("#brukerliste").html(strResult);
        };
    

    function EndreBrukerInfo() {
        var EndreBrukerInfo = {
            Fornavn: $('#FornavnTxt').val(),
            Etternavn: $('#EtternavnTxt').val(),
            Adresse: $('#AdresseTxt').val()
        };
        $.ajax({
            url: '/api/Profil',
            type: 'PUT',
            data: JSON.stringify(EndreBrukerInfo),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                $('#endrebrukerinfo').html("<div class='alert alert-success' role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>Din informasjon har blitt oppdatert. </div>");
                $('#FornavnTxt').val('');
                $('#EtternavnTxt').val('');
                $('#AdresseTxt').val('');
                
                HentBruker();
            },
            error: function (x, y, z) {
                $('#endrebrukerinfo').html("<div class='alert alert-warning' role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>Det ble ikke gjort endringer på brukerinformasjonen. </div>");
            }
        });
    };


        function VisKnapper() {
            var text = $("#brukerEndring");
            var text2 = $("#visKnapp")
            if (text.is(':hidden')) {
                text.slideDown('500');
                text2.slideUp('500');

            }
            else {
                text.slideUp('500');
                text2.slideDown('500');
            }
        };
    

</script>
<h2>Profil</h2>
<div id="endrebrukerinfo"></div>

<div id="brukerliste" style="width:40%;"></div>

<button id="visKnapp" onclick="VisKnapper()" class="btn btn-info">Endre Informasjon</button>

<div id="brukerEndring" style="display:none">
   Fornavn <input type="text" id="FornavnTxt" class="form-control"/>
 Etternavn   <input type="text" id="EtternavnTxt" class="form-control"/>
  Adresse  <input type="text" id="AdresseTxt" class="form-control"/>
<button onclick="EndreBrukerInfo()" class="btn btn-info">Endre Informasjon</button>
<button onclick="VisKnapper()" class="btn btn-warning">Avbryt</button>
</div>