@model Jobbplan.Models.Registrer

@{
    ViewBag.Title = "Registrer";
}

<h2>Registrer deg</h2>
<p class="text-danger">
    Passord må være minimum @Membership.MinRequiredPasswordLength tegn.
</p>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/passordValidator.js")" type="text/javascript"></script>
@{
    ViewBag.Title = "RegistrerAPI1";
}
<script type="text/javascript">

    function LeggTilPerson() {
        var person = {
            Fornavn: $('#FornavnTxt').val(),
            Etternavn: $('#EtternavnTxt').val(),
            Telefonnummerr: $('#TelefonnummerTxt').val(),
            Email: $('#EmailTxt').val(),
            Adresse: $('#AdresseTxt').val(),
            Postnummerr: $('#PostnummerTxt').val(),
            Poststed: $('#PoststedTxt').val(),
            Passord: $('#PassordTxt').val()
        };
        $.ajax({
            url: '/api/BrukerApi/',
            type: 'POST',
            data: JSON.stringify(person),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
               alert('Godkjent!');
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }


</script>


