@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -  ASP.NET Application</title>
    <meta charset='utf-8' />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/registrer.css" rel="stylesheet" type="text/css" />
    <script src="~/Fullcalendar/lib/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/passordValidator.js"></script>
</head>
<body>



    <script type="text/javascript">

        function LeggTilPerson() {
            var person = {
                Fornavn: $('#FornavnTxt').val(),
                Etternavn: $('#EtternavnTxt').val(),
                Telefonnummer: $('#TelefonnummerTxt').val(),
                Email: $('#EmailTxt').val(),
                Adresse: $('#AdresseTxt').val(),
                Postnummer: $('#PostnummerTxt').val(),
                Poststed: $('#PoststedTxt').val(),
                BekreftPassord: $('#PassordTxt').val()
            };
            $.ajax({
                url: '/api/BrukerApi/',
                type: 'POST',
                data: JSON.stringify(person),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    alert('Godkjent!');
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }


    </script>
    @{
        ViewBag.Title = "RegistrerAPI";
    }

    <div id="regContainer" class="container">
       
        <div>
            <table id="registrerSkjema" class="table-responsive">
                <tr><td></td><th id="regDeg">REGISTRER DEG</th><td></td></tr>
                <tr><td>Fornavn:</td><td><input class="form-control" type="text" id="FornavnTxt" /></td><td></td></tr>
                <tr><td>Etternavn:</td><td><input class="form-control" type="text" id="EtternavnTxt" /></td><td></td></tr>
                <tr><td>Adresse:</td><td><input class="form-control" type="text" id="AdresseTxt" /></td><td></td></tr>
                <tr><td>Postnr:</td><td><input class="form-control" type="text" id="PostnummerTxt" /></td><td></td></tr>
                <tr><td>Poststed:</td><td><input class="form-control" type="text" id="PoststedTxt" /></td><td></td></tr>
                <tr><td>Telefonnr:</td><td><input class="form-control" type="text" id="TelefonnummerTxt" /></td><td></td></tr>
                <tr><td>Epost:</td><td><input class="form-control" type="text" id="EmailTxt" /></td><td></td></tr>
                <tr><td>Passord:</td><td><input class="form-control" type="password" id="passord" /></td><td></td></tr>
                <tr><td>Gjenta passord:</td><td><input class="form-control" type="password" id="passord2" onkeyup="checkPasswordMatch();return false;" /></td><td id="oktd"> <span id="ok" class="" aria-hidden="true"></span></td></tr>
                <tr><td></td><td><button onclick="LeggTilPerson()" class="btn btn-primary">Registrer</button></td> <td></td></tr>

             </table>

          <br /><br />
        </div>
    </div>
</body>
</html>