
@{
    ViewBag.Title = "Testliste";
}

<h2>Testliste</h2>
<script type="text/javascript">
    $(function () {
        HentAlleBrukere();
    });



    function HentAlleBrukere(values) {
            $.ajax({
                url: '/api/BrukerApi/' + values,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    VisAlle(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
    };
    function VisAlle(bruker) {
        var strResult = "";
        $.each(bruker, function (i, p) {
            strResult += "<p>" + p.Navn +"</p>";
        });
        $("#faqs").html(strResult);
    }





</script>
<div id="test"></div>
